#add{
    background-color: #3cb371; /* Green */
    border: none;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100px;
    height: 30px;
}