#submit {
    background-color: #90ee90; /* Green */
    border: none;
    color: #20603d;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
}